@charset "UTF-8";
.newsBox{
  margin-top: 20%;
}
.newsBox p.title{
  font-weight: bold;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
}
.newsBox .inner{
  margin-top: 3%;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: #fff;
}
.newsBox dd{
  margin-top: 0.5em;
  line-height: 1.2;
}
@media (max-width: 1065px) {
  .newsBox{
    width: 80%;
    margin: 3% auto 0 auto;
    background-color: #464696;
  }
  .newsBox p.title{
    display: none;
  }
  .newsBox .inner{
    text-align: center;
    display: block;
    padding: 0.5em;
    font-size: 0.8em;
    background-color: #fff;
  }
  .newsBox dt{
    display: inline-block;
    margin-right: 1em;
  }
  .newsBox dd{
    display: inline-block;
    margin-top: 0.5em;
    line-height: 1.2;
  }
}
