@charset "UTF-8";
.newsBox{
  margin-top: 20%;
}
.newsBox p.title{
  font-weight: bold;
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  text-indent: 0.3em;
}
.scrollWrap{
  border-radius: 0.5em;
  position: relative;
  padding: 1em;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 0.8em;
  background-color: #fff;
}
.scrollWrap .inner{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type:inline;
}
.scrollWrap .inner dl{
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  scroll-snap-align: center;
  border-bottom: 1px dotted;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}
.scrollWrap .inner dl:last-child{
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.arrow{
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  cursor: pointer;
  border: 1px solid #808080;
  vertical-align: middle;
  margin-bottom: 4px;
}
.arrow::before{
  content: "";
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  border-left: 1px solid #808080;
  border-bottom: 1px solid #808080;
  top: 40%;
  left: 28%;
  transform: rotate(135deg);
}
.arrow.before{
  top: 3em;
}
.arrow.before:before {
	top:28%;
	left:35%;
	transform:rotate(45deg);
}
.arrow.after{
  top: 3em;
  left: 93%;
}
.arrow.after:before {
	top:28%;
	left:20%;
	transform:rotate(-135deg);
}
.arrow:hover {
	background-color:#808080;
}
.arrow:hover:before {
	border-color:white;
}
@media (max-width: 1065px) {
  .newsBox{
    width: 80%;
    margin: 3% auto 0 auto;
    background-color: #464696;
  }
  .newsBox p.title{
    display: none;
  }
  .scrollWrap{
    padding: 0 0.5em;
    border-radius: 0;
  }
  .scrollWrap .inner{
    white-space: nowrap;
    overflow-x: scroll;
  }
  .scrollWrap .inner dl{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .arrow{
    display: none;
  }
}
