@charset "UTF-8";
.newsBox{
  margin-top: 20%;
}
.newsBox p.title{
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-indent: 0.3em;
}
.scrollWrap{
  position: relative;
  width: 100%;
  padding: 1em;
  background-color: #fff;
  font-size: 0.8em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
}
.scrollWrap .inner{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type:inline;
}
.scrollWrap .inner dl{
  display: inline-block;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  white-space: normal;
  vertical-align: top;
  border-bottom: 1px dotted;
  scroll-snap-align: center;
}
.scrollWrap .inner dl:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.arrow{
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  margin-bottom: 4px;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #808080;
  cursor: pointer;
}
.arrow::before{
  position: absolute;
  top: 40%;
  left: 28%;
  width: 0.4em;
  height: 0.4em;
  content: "";
  border-left: 1px solid #808080;
  border-bottom: 1px solid #808080;
  transform: rotate(135deg);
}
.arrow.before{
  top: 3em;
}
.arrow.before:before {
	top:28%;
	left:35%;
	transform:rotate(45deg);
}
.arrow.after{
  top: 3em;
  left: 93%;
}
.arrow.after:before {
	top:28%;
	left:20%;
	transform:rotate(-135deg);
}
.arrow:hover {
	background-color:#808080;
}
.arrow:hover:before {
	border-color:white;
}
@media (max-width: 1065px) {
  .newsBox{
    width: 80%;
    margin: 3% auto 0 auto;
    background-color: #464696;
  }
  .newsBox p.title{
    display: none;
  }
  .scrollWrap{
    padding: 0 0.5em;
    border-radius: 0;
  }
  .scrollWrap .sp_inner{
    background-image: url(../images/sp_arr_be.png),url(../images/sp_arr_af.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left,right;
  }
  .scrollWrap .inner{
    white-space: nowrap;
    overflow-x: scroll;
  }
  .scrollWrap .inner dl{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .arrow{
    display: none;
  }
}
