@charset "UTF-8";
section{
  display: block;
}
article{
  width: 70%;
}
article iframe{
  width: 100%;
}
@media (max-width: 1065px) {
  article{
    width: 100%;
  }
  article iframe{
    width: 100%;
  }
}
