@charset "UTF-8";
.pankuzuList li{
  display: inline-block;
}
.pankuzuList li::after{
  margin-left: 0.5em;
  content: ">";
}
.pankuzuList li:last-child::after{
  display: none;
}
section {
  grid-template-columns: 1fr;
}
.figure_col{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.figure_col.onlyOne{
  display: grid;
  grid-template-columns: 1fr;
}
.contents figure{
  margin:1em 0 0 0;
  text-align: inherit;
}
.contents figure:hover{
  opacity: 1;
}
.contents figure img{
  width: 100%;
}
figure .caption:before{
  content: "▼";
}
figure .caption{
  font-size: 0.8em;
}
article h2{
  margin-bottom: 0;
  font-size: 1.2em;
}
figcaption dl dt,figcaption dl dd{
  font-size: 0.8em;
  word-break: break-all;
}
figcaption dl dt{
  display: inline-block;
  margin-right: 0.1em;
  font-weight: bold;
}
figcaption dl dt:after{
  content: "：";
}
figcaption dl dd{
  display: inline;
}
figcaption dl dd ol li{
  margin-left: 2em;
  list-style-type: decimal;
}
.notice li{
  font-size: 0.7em;
  font-weight: bold;
  color: #f00;
}
.mt10{
  margin-top: 1em;
}
@media (max-width: 1065px) {
  .figure_col{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .contents figure img{
    width: 100%;
  }
  figure .caption{
    font-size: 0.7em;
  }
  .contents figcaption{
    margin-bottom: 0.5em;
  }
}
